{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="purple">
    <div class="container" style="text-align:center;">
        <h1 >Meet the brothers.</h1>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#FFFFFF" style="stroke:none; stroke-width:0" points="0,100 100,0 100,100"/>
  </svg>
</div>

<section id="team" class="pb-5">
    <div class="container">
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="{% static 'images/brothers/stephen.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Stephen Joly</h4>
                                    <p class="card-text">Chapter President</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Chemical Engineering 1T9</h4>
                                    <p class="card-text">Stephen is currently enrolled in UofT's PEY Co-op program as a Risk Analyst for Deloitte’s Risk Advisory practice in Toronto. He plans to graduate with a minor in Advanced Manufacturing as well as a certificate in Engineering Business.</p> 
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://ca.linkedin.com/in/stephen-joly-73733b52">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/StephenAJoly">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/jake.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Jake Anderson</h4>
                                    <p class="card-text">Treasurer</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Electrical Engineering 1T9</h4>
                                    <p class="card-text">Jake is in his fith year of study after completing a 16-month co-op at Honda of Canada Manufacturing in Alliston, Ontario where he developed a solid foundation in industrial automation technology and control systems.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/jake-anderson-10a797166/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/jake.anderson.948494">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/anthony.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Anthony Khoury</h4>
                                    <p class="card-text">Corresponding Secretary</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Economics 2T0</h4>
                                    <p class="card-text"> Coming from Abu Dhabi, UAE, Anthony is a huge sports fanatic as well as DJ. FIJI has been able to develop Anthony as a budding leader, hence his decision to become the Corresponding Secretary for a second year in a row.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/anthony-khoury-0b9a81143/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/anthony.khoury.1">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/nathan.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Nathan Reeves</h4>
                                    <p class="card-text">Recording Secretary</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Criminology 2T0</h4>
                                    <p class="card-text">As he continues through university, Nathan hopes to continue making awesome memories with his brothers and gaining experience through the leadership and extracurricular opportunities that arise in Greek Life.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/nathan.reeves.3114">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/matthew.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Matthew Tran</h4>
                                    <p class="card-text">Historian</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Molecular Genetics and Microbiology 1T9</h4>
                                    <p class="card-text">*Insert a personal bio of my life and heartfelt description of all of my many many passions and future goals here* 👌</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/matthew-tran-476a77113/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/matthewt97">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/joshua.jpeg'%}" alt="card image"></p>
                                    <h4 class="card-title">Joshua Gomez-Szoke</h4>
                                    <p class="card-text">Graduate Relations Chairman</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Finance and Economics 2T0</h4>
                                    <p class="card-text">Joshua put his Rotman training to practical use this summer when he started his own landscaping company called Grass Stylists. He won the "Richmond Hill Entrepreneur of the Year" award and enjoys giving back to the community.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/joshua-gomes-szoke-06179914a/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/joshua.goso">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/dwij.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Dwij Patel</h4>
                                    <p class="card-text">Recruitment Chairman</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Finance and Economics 2T1</h4>
                                    <p class="card-text">*Insert a personal bio of my life and heartfelt description of all of my many many passions and future goals here* 👌</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/dwij-patel-936401142/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/profile.php?id=100008510556533">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/zack.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Zack Robbins</h4>
                                    <p class="card-text">Service Chairman</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Finance and Economics 2T1</h4>
                                    <p class="card-text">Zack was born and grew up in Hong Kong before going to boarding school in Massachusetts. Zack is aspiring to work in asset management. As Service Chairman, he holds weekly trips to the Scott Mission.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/forrest.robbins.96">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/ian.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">يان ارمور</h4>
                                    <p class="card-text">Social Chairman</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Political Science 2T0</h4>
<!--                                    <p class="card-text">"What Phi Gamma Delta has given to me is priceless. Not only have I found a solid group of men, Phi Gamma Delta has given me a proper foundation in which to grow into." - Ian</p> -->
                                        <p class="card-text">بضعة حروف وبعضها الآخر عبارة عن عدد من السطور. وقد نزلت الآيات القرآنية متميزة عن بيوت الشعر العربي الجاه</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/ian.armour49">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/kuba.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Kuba Wernerowski</h4>
                                    <p class="card-text">Philanthropy Chairman</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Math and Physics 2T0</h4>
                                    <p class="card-text">During his time at Fiji, Kuba has found a one-of-a-kind home that truly brings out the best in himself. Being surrounded by accomplished peers has inspired him to take on multiple leadership roles in school and in FIJI.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/kubawernerowski/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/Kuba.Wernerowski?ref=br_rs">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/paul.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Paul Suk</h4>
                                    <p class="card-text">New Member Educator</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Engineering Science 1T8</h4>
                                    <p class="card-text">Paul aspires to be work in the forefront of artificial intelligence. He is the former chapter president, and is also involved on campus as a Director for You're Next Career Network, as well as being a don at Chestnut Residence.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/paulsuk1/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/paoul.sukii">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/mike.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Michael Lioniello</h4>
                                    <p class="card-text">Purple Chairman</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Mechanical Engineering 1T9</h4>
                                    <p class="card-text">Michael is currently a Manufacturing Systems Engineer for Mother Parkers Tea and Coffee, Real Cup plant in Mississauga. He became a brother in his first year and has come to treat the Tau Kappa chapter house as a second home.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/michael-lioniello/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/MLioniello">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/eugene.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Eugene Zelenov</h4>
                                    <p class="card-text">House Manager/Webmaster</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Computer Science 2T0</h4>
                                    <p class="card-text">Eugene enjoys learning home improvement skills and doing various DIY projects and puts these abilities to the test as the FIJI house manager. He also designed this website so please direct complaints to him.</p>
                                    <ul class="list-inline text-center">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/eugene-zelenov-6b0869a5/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/people/Eugene-Zelenov/100011057688443">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/muhammud.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Muhammud Ammar Aamir</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Computer Engineering 1T8</h4>
                                    <p class="card-text">*Insert a personal bio of my life and heartfelt description of all of my many many passions and future goals here* 👌
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/muhammad-ammar-aamir-ba0904113/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/muhammadammaraamir">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/adam.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Adam Cocco</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Kinesiology 1T8</h4>
                                    <p class="card-text">Adam is an avid outdoorsman, who instructs outdoor survival for first years, and recently took up blacksmithing. Following graduation he hopes to be studying veterinary medicine.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/adam-cocco-38a968161/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/coccoAdam">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/henry.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Henry Gibbons</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Environmental Geophysics 2T1</h4>
                                    <p class="card-text">*Insert a personal bio of my life and heartfelt description of all of my many many passions and future goals here* 👌</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/henry.gibbons.94">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/julian.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Julian Gonsalves</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Computer Engineering 1T9</h4>
                                    <p class="card-text">Julian works as a web developer for the Ministry of Education. He plans to graduate with an Engineering Business minor. On his free time he enjoys going to concerts, playing video games, and wandering around the city.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/oliver.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Oliver Heitz</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Computer Science 2T0</h4>
                                    <p class="card-text">*Insert a personal bio of my life and heartfelt description of all of my many many passions and future goals here* 👌</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/hiro.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Hiromitsu Higashi</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">International Relations 2T0</h4>
                                    <p class="card-text">*Insert a personal bio of my life and heartfelt description of all of my many many passions and future goals here* 👌</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/justin.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Justin Huang</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Rotman 2T1</h4>
                                    <p class="card-text">*Insert a personal bio of my life and heartfelt description of all of my many many passions and future goals here* 👌</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/louie.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Louie Li</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Industrial Engineering 1T8</h4>
                                    <p class="card-text">Louie is currently working as an Application Programmer Analyst for the Ministry of Education for his PEY coop year. He plans to graduate with a minor in business.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/louie.li.73">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/alex.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Alex Lin</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Civil Engineering 1T8</h4>
                                    <p class="card-text">Alex joined Fiji during his first semester at UofT, and he has made many long lasting relationships with the members of Tau Kappa. He hopes to positively impact the chapter in his last year as an undergrad.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/alex-lin-97139911a/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/alex.lin.334">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/andrew.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Andrew Olechtchouk</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Computer Science 2T0</h4>
                                    <p class="card-text">Andrew recently worked for The Linux Foundation under FD.io as a Documentation Intern. For fun, he enjoys longboarding down the side streets of Toronto, film photography, and recently took up DJing.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/andrew-olechtchouk/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/andrew.olechtchouk">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/hendo.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Henry Rhyu</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">Law 2T1</h4>
                                    <p class="card-text">*Insert a personal bio of my life and heartfelt description of all of my many many passions and future goals here* 👌</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/henry-rhyu-741399157/">
                                                <i class="fa fa-linkedin square-icon"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/henry.rhyu">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'images/brothers/dima.jpg'%}" alt="card image"></p>
                                    <h4 class="card-title">Dima Sochnyev</h4>
                                    <br>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body mt-4">
                                    <h4 class="card-title">International Relations 2T0</h4>
                                    <p class="card-text">Dima is currently on an exchange year abroad in Paris  where he hopes to master his French fluency while broadening his political expertise at one of the finest schools in Europe.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/dima.sochnyev">
                                                <i class="fa fa-facebook circle-icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
    
</section>

{% endblock %}