{% extends 'base.html' %}
{% block content %}
<section id="contact">
			<div class="section-content">
				<h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
				<h3>We'd love to hear from you!</h3>
			</div>
			<div class="contact-section">
			<div class="container">
				<form>
					<div class="col-md-6">
			  			<div class="form-group">
			  				<label for="exampleInputUsername">Your Email address</label>
					    	<input type="text" class="form-control" id="" placeholder="name@example.com">
				  		</div>
				  		<div class="form-group">
					    	<label for="exampleInputEmail">Subject</label>
					    	<input type="email" class="form-control" id="exampleInputEmail" placeholder="Subject">
					  	</div>	
			  		</div>
			  		<div class="col-md-6">
			  			<div class="form-group">
			  				<label for ="description"> Message</label>
			  			 	<textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
			  			</div>
			  			<div>
			  				<button type="button" class=" small button submit">Send Message</button>
			  			</div>
					</div>
				</form>
                
                
			</div>
		</section>
{% endblock %}