{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Phi Gamma Delta</h1>
                <h2>Tau Kappa</h2>
                <p>
                    <br>
                    Founded in 1921, the Tau Kappa chapter of FIJI <br>
                    was the first chapter in Canada. Come see what <br>
                    makes our brotherhood unique! 
                </p>
                <button type="button">Join today!</button> 
            </div>
        </div>  
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="#FFFFFF" style="stroke:none; stroke-width:0" points="0,0 0,101 100,101"/>
    </svg>
</header>

<div id="brotherhood">
    <div class="container">
        <h2>Follow us on social media!</h2>
            <p>
                    "Nothing in this world can take the place of persistence. 
                    Talent will not: nothing is more common than unsuccessful men with talent. 
                    Genius will not; unrewarded genius is almost a proverb. 
                    Education will not: the world is full of educated derelicts. 
                    Persistence and determination alone are omnipotent." -Calvin Coolidge
                    
                
            </p>
            <img src="{% static 'images/pig.png'%}" alt="chapter picture" width="90%">
    </div>
</div>

<div id="values">
    <div class="container">
        <i class="fas fa-home faicon" style="padding-top: 30px;"></i>
        <h3 class="valuesLeft">Founding</h3>
        <h4 class="valuesLeft">May 1, 1848 at Jefferson College in Canonsburg, PA</h4>
    
        <i class="fas fa-star faicon"></i>
        <h3 class="valuesRight">Our Values</h3>
        <h4 class="valuesRight">Friendship, Knowledge, Service, Morality, Excellence</h4>
        
        <i class="fas fa-handshake faicon"></i>
        <h3 class="valuesLeft">Our Mission</h3>
        <h4 class="valuesLeft">Phi Gamma Delta unites men in enduring friendships, stimulates the pursuit of knowledge, and builds courageous leaders who serve the world with the best that is in them.</h4>

        <i class="fas fa-calculator faicon"></i>
        <h3 class="valuesRight">By The Numbers</h3>
        <h4 class="valuesRight">180,000+ initiated brothers since 1848.
        11,000+ undergraduate brothers in 151 Chapters and 14 Colonies</h4>
    </div>
</div>



<div id="prez">
    <div class="container">
        <h2 style="text-align: center; margin-top: 20px;">Message from the Chapter President</h2>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <p style="padding-top: 30px;">Our values help us seek those whom best match the qualities 
                of a Fiji Gentlemen and of a candidate who can take full advantage of what our fraternity 
                has to offer. Phi Gamma Delta provides opportunities to build meaningful connections and 
                friendships, practice new skills, develop as a person and as a leader, all while maintaining 
                the highest scholarship possible. Whether you want an chance to network with a large 
                collection of well established Graduate Brothers, meet academically and culturally diverse 
                people, receive scholarships from our Educational Foundation, live in the heart of downtown 
                Toronto with a family of peers, or if you just want to get better at Water Pong, Fiji is 
                the place for you.</p>
            </div>

            <div class="col-sm-6 text-center">
                <img src="{% static 'images/joly.jpg'%}" width="100%" alt="President">
                <h3>Stephen Joly</h3>
                <p>Chapter President</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
