body{
	font-family: 'Open Sans', sans-serif;
}


/* Navbar */

.navbar {
	font-size: 0.8rem;
}


/* Header */

header {
	position: relative;
	max-height: 500px;
	background-position:center top;
	background: url("/static/images/badge.jpg") no-repeat fixed;
	background-size: cover;
	opacity: 0.9;
	color: #fff;
	margin: auto;
	overflow: visible;
	padding-top: 7%;
	padding-bottom: 20%;
}

header h1 {
	font-size: 2rem;
}

header h2 {
	font-size: 2rem;
	font-family: 'Dancing Script', cursive;
}

header p {
	font-size: 0.8rem;
}

svg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8vw;
	border:none;
	/* set height to pixels if you want angle to change with screen width */
}

/* Social Media */

#socialmedia .container {
	text-align: center;
	padding-bottom: 70px;
	padding-top: 20px;
}

#socialmedia h2 {
	text-align: center;
	padding-bottom: 20px;
}

#brotherhood p, #brotherhood img {
	font-size: 1rem;
	margin: 10px;
	text-align: justify;
	padding: 2%;
}

#brotherhood img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Events */

#school {
	position: relative;
	min-height: 350px;
	height: auto;
	background: url('/static/images/header.png') no-repeat center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
}

#school h2, #school img {
	text-align: center;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 10px;
}

#school p {
	color: #fff;
	text-align: center;
}

#school img {
	display: block;
	padding-top: 60px;
	max-width: 300px;
}

#school p {
	font-size: 18px;
}

#prez {
	padding-bottom: 30px;
	padding-top: 30px;
}

#prez .box {
	margin: 30px;
	padding: 10px;
	padding-bottom: 30px;
	text-align: center;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

#prez p {
	font-size: 18px;
	margin: 0;
}

#prez h3 {
	text-align: right;
	padding-right: 3em;
	font-family: 'Dancing Script', cursive;
}

#prez .col-sm-6 {
	padding-top: 2em;
}

/* ABOUT PAGE*/

.padding {
	padding: 80px 0;
}

#purple {
	position: relative;
	padding-top: 80px;
	min-height: 250px;
	color: #FFFFFF;
	height: auto;
	background: url('/static/images/header.png') no-repeat center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
}

#purple .container {
	text-align: center;
}


@media(max-width:500px){
	header {
		background-attachment: inherit;
	}

	#join {
		background-attachment: inherit;
	}

	#school img {
		margin-bottom: 30px;
	}

	.marginFix {
		padding-bottom: 30px;
	}

	#social .fb-page {
		padding-left: 0;
	}

}


#footer, #footer a{color:#FFFFFF; background-color:#1E1E1E; text-align: center}
#footer p{margin:0; padding:20px 0};

/* Meet the Brothers */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #9036b9;
    border-color: #9036b9;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #9036b9;
    border-color: #9036b9;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #9036b9;
    margin-bottom: 50px;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.square-icon {
    background: #0077B5;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 8px;
}

.circle-icon {
    background: #4267B2;
    width: 40px;
	height: 40px;
	border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 8px;
}


.backside .list-inline {
	text-align: center;
}
.backside .card a {
    font-size: 24px;
    color: #ffffff !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #9036b9 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}